<% if current_user.favreview?(review) %>
  <%= form_for(current_user.favorites.find_by(review_id: review.id), html: { method: :delete }) do |f| %>
    <%= hidden_field_tag :review_id, review.id %>
    <%= button_tag type: "submit", class: 'btn btn-info btn-sm' do %>
      <i class="fas fa-heart"></i>Like! <span class="badge badge-secondary"> <%= review.favorites.count %></span>
    <% end %>
  <% end %>
<% else %>
  <%= form_for(current_user.favorites.build) do |f| %>
    <%= hidden_field_tag :review_id, review.id %>
    <%= button_tag type:"submit", class: 'btn btn-outline-info btn-sm' do %>
      <i class="far fa-heart"></i>Like! <span class="badge badge-secondary"> <%= review.favorites.count %></span>
    <% end %>
  <% end %>
<% end %>
