
<% if users.any? %>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row" >
      <% users.each do |user| %>
        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
           <!--%= image_tag user.image.thumb200.url, class: "card-img-top" %-->
            <div class="card-body">
              <%= link_to user_path(user) do %>
              <%= image_tag user.image.thumbicon.url, class: "rounded-circle" %>
              <% end %>
              <span class="mb-4 ml-1"><%= link_to user.name, user_path(user) %></span>　
              <div class="inline-block-follow"><%= render 'relationships/follow_button', user: user %></div>
              <p class="mt-1 mb-0"> Followings: <%= user.followings.count %></p>
              <p class="mb-1"> Followers: <%= user.followers.count %></p>
              <p class="mt-1"><%= user.introduce %></p>
              
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= paginate users %>
<% end %>