
<% if users.any? %>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row" >
      <% users.each do |user| %>
        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
           <!--%= image_tag user.image.thumb200.url, class: "card-img-top" %-->
            <div class="card-body">
              <%= image_tag user.image.thumbicon.url %>
              <span class="mb-4 ml-1"><%= link_to user.name, user_path(user) %></span>
              <p><%= user.introduce %></p>
              
              <!--div-->
                <!--%= user.name %-->
              <!--/div-->
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'View profile', user_path(user) %></button>
                
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= paginate users %>
<% end %>