<% if albums.any? %>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% albums.each do |album| %>
          <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="card mb-4 shadow-sm">
              <!--svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg-->
              <%= link_to album_path(album) do %>
              <%= image_tag album.image.url, class: "card-img-top" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title mb-1"><%= album.title %></h5>
              
                <% unless (controller.controller_name == "artists" && controller.action_name == "show") %>
                  <p class="card-subtitle"><%= link_to album.artist.name, artist_path(album.artist) %></p>
                <% end %>
              
                <p class="card-text mt-1 mb-0">リリース：<%=album.release_date %></p>
                <div class="row inline">
                <div class="ml-3 mb-1" id="star-<%= album.id %>">評価：<%= album.reviews.average(:rate).present? ? album.reviews.average(:rate).round(1) : 0 %></div>
                <%= javascript_include_tag "jquery.raty.js" %>
                </div>
              
                  <script>
                    $('#star-<%= album.id %>').raty({
                      size: 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,
                      round : { down: .4, full: .6, up: .99 },
                      precision: true,
                      readOnly: true,
                      score: <%= album.reviews.average(:rate) %>,
                    });
                  </script> 
                  
                <% if logged_in? %>
                  <%= render 'clips/clip_button', album: album %>
                <% end %>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
        <% end %>  
      </div>
    </div>
  </div>
<% end %>

<%= paginate albums %>
