<% if logged_in? %>
  
  <nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="/">トップ</a></li>
		  <li class="breadcrumb-item"><a class="breadcrumb-item" href= <%=artist_path(@album.artist)%>><%= @album.artist.name%></a></li>
		  <li class="breadcrumb-item active" aria-current="page">アルバム詳細</li>
	  </ol>
  </nav>
  
<div class="row">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.raty.js"></script>
  <%= javascript_include_tag "jquery.raty.js" %>
  
  <div class="media col-sm-12 mt-5 mb-5">
    <div class="media-left">
      <%= image_tag @album.image.thumb.url, class: "img-thumbnail" %>
    </div>
    <div class="media-body ml-4">
      <h3 class="media-heading"><%= @album.title %></h3>
      <h5 class="media-heading"><%= link_to @album.artist.name, artist_path(@album.artist) %></h5>
      <h6 class="media-heading">リリース：<%=@album.release_date %></h6>
      <h5 class="media-heading" id="star-<%= @album.id %>">評価：<%= @average.present? ? @average.round(1) : 0 %></h5>
      <%= javascript_include_tag "jquery.raty.js" %>
    </div>
  </div>
  
    <script>
      $('#star-<%= @album.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        round : { down: .4, full: .6, up: .99 },
        precision: true,
        readOnly: true,
        score: <%= @average %>,
      });
    </script>  


  <div class="col-sm-12 mb-5">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= album_path(@album) %>" class="nav-link <%= 'active' if current_page?(album_path(@album)) %>"><i class="fas fa-compact-disc"></i> Reviews <span class="badge badge-secondary"><%= @count_reviews %></span></a></li>
      <!-- <li class="nav-item"><a href="#" class="nav-link">Followings</a></li> -->
      <!-- <li class="nav-item"><a href="#" class="nav-link">Followers</a></li> -->
    </ul>
    <%= render 'reviews/reviews', reviews: @album.reviews  %>

  
  
  <!--div class="container"-->
  <!--div class ="row"-->
    <div class="card mt-2">
      <div class="card-header">
        <h5 class="card-title">レビュー投稿</h5>
      </div>
      <div class="card-body">
        <%= form_with(model: @review, local: true) do |f| %>
          <%= f.hidden_field :album_id, :value => @album.id %>
            <% if @review.errors.any? %>
              <div id="error_explanation">
                <ul>
                  <% @review.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            
          <!--スコア -->
          <div class="form-group row inline">
            <label for="rate" class="ml-3">Rate： </label>
            <div id="star"></div>
            <div class="ml-1", id="star_input" style="height: 1.5em; width: 2em;">
            <%= f.hidden_field :rate, id: :review_star %>
            <%= javascript_include_tag "jquery.raty.js" %>
            </div>
          </div>
              
          <!-- 評価javascript -->
          <script>
          $('#star').raty({
            
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'review[rate]',
            
            target: '#star_input',
            targetType: 'number',
            targetKeep: true,
          　half: true,
          　precision:true,
          　round : { down: .4, full: .6, up: .99 },
            hints: ['1', '2', '3', '4', '5']
          });
          
          </script>  

          <div class="form-group">
            <%= f.label :name, 'レビュー内容' %>
            <%= f.text_area :body, class: 'form-control', rows: 4 %>
          </div>

          <%= f.submit 'Post', class: 'btn btn-info btn-block col-2' %>
        <% end %>
      </div>
    </div>
  </div>
  <!--/div-->
  <!--/div-->
  
</div>
<% else %>
<div class="row">
  
  <div class="media col-sm-12 mt-5 mb-5">
    <div class="media-left">
      <%= image_tag @album.image.thumb.url, class: "img-thumbnail" %>
    </div>
    <div class="media-body ml-4">
      <h3 class="media-heading"><%= @album.title %></h3>
      <h5 class="media-heading"><%= link_to @album.artist.name, artist_path(@album.artist) %></h5>
      <h6 class="media-heading">リリース：<%=@album.release_date %></h6>
      <h5 class="media-heading" id="star-<%= @album.id %>">評価：<%= @average.present? ? @average.round(1) : 0 %></h5>
      <%= javascript_include_tag "jquery.raty.js" %>
    </div>
  </div>
  
    <script>
      $('#star-<%= @album.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        round : { down: .4, full: .6, up: .99 },
        precision: true,
        readOnly: true,
        score: <%= @average %>,
      });
    </script>  


  <div class="col-sm-12 mb-5">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= album_path(@album) %>" class="nav-link <%= 'active' if current_page?(album_path(@album)) %>"><i class="fas fa-compact-disc"></i> Reviews <span class="badge badge-secondary"><%= @count_reviews %></span></a></li>
      <!-- <li class="nav-item"><a href="#" class="nav-link">Followings</a></li> -->
      <!-- <li class="nav-item"><a href="#" class="nav-link">Followers</a></li> -->
    </ul>
    <%= render 'reviews/reviews', reviews: @album.reviews  %>
  </div>
<% end %>